/.cache
/.work
/_output
/config/
/config
cover.out
/vendor
/.vendor-new

# Nix build output
result
result-*

# gitlab example
# exclude files generate by running the example
external-dns-*.tgz
gitlab-*.tgz
gitlab-gcp.yaml
gitlab/

# ignore IDE folders
.vscode/
.idea/